
:root {
  --color-primary: #f59e0b;
  --color-primary-foreground: #ffffff;
}

body {
  @apply text-gray-800 bg-gray-50;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}